
<div class="list">
  <!-- <div class="col-sm-8">
    <form [formGroup]="myGroup">
      <div class="row"> 
        <div class="col-sm-12">
          <label for="exampleInputEmail1 ">Ingresa el correo de consulta</label>
        </div>

        <div class="col-sm-5">
          
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="correo@dominio.com" formControlName="email">    
          
        </div>
        <div class="col-sm-5">
            <label for="exampleInputEmail1"> </label>
          <button (click)="requestApi()"  class="btn btn-primary">Consultar</button>
        </div>
      </div>
    </form>
  </div>
  <br><br> -->
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr style="font-size: 11px;">
          <th>Tipo</th>
          <th>Fecha registro</th>    

          <th> Título </th>
          <th> Resultado </th>
          <th> Url público </th>
          <!-- <th> Título </th> -->
                
        </tr>
      </thead>
      <tbody *ngIf="collection.length > 0">
        <tr *ngFor="let item of collection | paginate: { itemsPerPage: 5, currentPage: p }"  style="font-size: 11px;" >
          <td> {{item.tipo}} </td>
          <td> {{parseDate(item.fecha_reg)}} </td>
          <td> {{item.titulo}} </td>
          <td> 
              <span class="badge badge-success" *ngIf="item.result =='OPEN' " >Abierto</span>
              <span class="badge badge-success" *ngIf="item.result =='DELIVERED' " >Entregado</span>
              <span class="badge badge-success" *ngIf="item.result =='SENT'" >Enviado</span>
          </td>
          <td> {{item.public_url}} </td>
        </tr>
      </tbody>

      <tbody *ngIf="collection.length ==0">
          <tr  >
            <td colspan="5" class="text-center"> Sin datos disponibles  </td>
          </tr>
      </tbody>
    </table>
  </div>

  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>






<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>