<div class="row">
  <div class="col-sm-12">
    <a href="/contacto/{{email}}">
      <i class="mdi mdi-chevron-left "></i> 
      Regresar
    </a>
  </div>

  <div class="table-responsive col-sm-8 ">
    <table class="table">
      <thead>
        <tr>
          <th>Tipo</th>
          <th>Fecha registro</th>    

          <th> Título </th>
          <th> Resultado </th>
          <th> Url público </th>
          <!-- <th> Título </th> -->
                
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of detailList | paginate: { itemsPerPage: 5, currentPage: p }"  >
          <td> {{item.tipo}} </td>
          <td> {{parseDate(item.fecha_reg)}} </td>
          <td>{{item.titulo}}</td>
          <td>{{item.public_url}}</td>
          
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
  

  <!-- datos de form -->
  <div class="col-sm-4">

  </div>
  <!-- datos de form -->

</div>