<form [formGroup]="form" style=" padding: 30px;">
  <div class="search">
      <div class="head-blue">
          Test HubSpot
      </div>
      
        <div class="form-group">
          <label for="exampleInputEmail1">Nombre</label>
          <input matInput class="form-control" placeholder="Nombre"  formControlName="firstname"  type="text" >                          
        </div>
              
        <div class="form-group">
          <label for="exampleInputEmail1">Apellido</label>
          <input class="form-control" matInput placeholder="Apellido" formControlName="lastname" type="text">                        
        </div>

        <div class="form-group">
          <label for="exampleInputEmail1">Celular</label>
          <input matInput class="form-control" placeholder="Celular"  formControlName="mobilephone" type="text" >                      
        </div>

        <div class="form-group">
          <label for="exampleInputEmail1">Email</label>
          <input matInput placeholder="Email" formControlName="email" type="text" class="form-control">
        </div>

        <div class="form-group">
          <label for="exampleInputEmail1">Ciudad</label>
          <input matInput placeholder="Ciudad" class="form-control" formControlName="city" type="text" > 
        </div>

        <div class="form-group">
          <label for="exampleInputEmail1">Teléfono</label>
          <input matInput placeholder="Teléfono" formControlName="phone" type="text" class="form-control">                
        </div>          
      

      <button class="btn btn-primary" (click)="onSubmit()">Submit</button>
      
  </div>
</form>


